# Ignorar todos los archivos en 01_Data/01_Inputs
01_Data/00_Inputs/*

# Permitir el archivo .gitignore en esa carpeta
!01_Data/00_Inputs/.gitignore

/.quarto/

# Scripts de renderización temporal
render_sin_cache.R

# Cache de Quarto
*_cache/
_freeze/

.Rhistory
.RData
.Rproj.user
